@charset "utf-8";

/* [Common] - Display */
.inblock {
	display:inline-block;
}
.none {
	display:none;
}

/* [Common] - Hide */
.hide, legend, .blind {
	overflow:hidden;
	visibility:hidden;
	position:absolute;
	width:0;
	height:0;
	font-size:0;
	line-height:0;
}
.hide-caption {
	overflow:hidden;
	visibility:hidden;
	width:0;
	height:0;
	font-size:0;
	line-height:0;
}

/* [Common] - Float Clear */
.float_clear {
	width:100%;
}
.float_clear:after {
	content:"";
	display:block;
	clear:both;
}

/* [Common]- h3Type */
.h3Type {
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin:30px 0 20px;
    font-weight:bold;
    font-size:24px;
    color:#555;
}
.h3Type .etc {}
.h3Type .etc button {}
.h3Type .etc button.button {}

