@charset "utf-8";

/* [Common] - Display */
.inblock {
	display:inline-block;
}
.none {
	display:none;
}

/* [Common] - Hide */
.hide, legend, .blind {
	overflow:hidden;
	visibility:hidden;
	position:absolute;
	width:0;
	height:0;
	font-size:0;
	line-height:0;
}
.hide-caption {
	overflow:hidden;
	visibility:hidden;
	width:0;
	height:0;
	font-size:0;
	line-height:0;
}

/* [Common] - Float Clear */
.float_clear {
	width:100%;
}
.float_clear:after {
	content:"";
	display:block;
	clear:both;
}

/* [Common]- h3Type */
.h3Type {
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin:30px 0 20px;
    font-weight:bold;
    font-size:24px;
    color:#555;
}
.h3Type .etc {}
.h3Type .etc button {}
.h3Type .etc button.button {}

/* [Common] - Button */
.btn_type {
    display:inline-block;
    padding:10px 15px;
    font-size:14px;
    color:#666;
    text-decoration:none;
    border:none;
    border-radius:2px;
}
/* [Common] - Button > 사이즈별 */
.btn_large {
    padding:15px 20px;
    font-size:18px;
}
.btn_small {
    padding:5px 10px;
    font-size:12px;
}
/* [Common] - Button > 비활성화 */
.btn_disabled {
    pointer-events:none;
    opacity:0.5;
}
/* [Common] - Button > 라운드 */
.btn_round {
    border-radius:20px;
}
.btn_round.btn_large {
    border-radius:28px;
}
.btn_round.btn_small {
    border-radius:14px;
}
/* [Common] - Button > 목적형 */
.btn_default {
    background:#ddd;
}
.btn_primary {
    color:#fff;
    background:#007bff;
}
.btn_secondary {
    color:#fff;
    background:#6c757d;
}
.btn_success {
    color:#fff;
    background:#28a745;
}
.btn_danger {
    color:#fff;
    background:#dc3545;
}
.btn_warning {
    color:#fff;
    background:#ffc107;
}
.btn_info {
    color:#fff;
    background:#17a2b8;
}
.btn_light {
    border:none;
    background:#f8f9fa;
}
.btn_dark {
    color:#fff;
    background:#343a40;
}
.btn_link {
    color:#417cff;
    border:none;
    background:transparent;
    box-shadow:none;
}
/* [Common] - Button > 색상형 */
.btn_lightgray {
    background:#ddd;
}
.btn_black {
    color:#fff;
    background:#000;
}
.btn_red {
    color:#fff;
    background:#ff0000;
}
.btn_blue {
    color:#fff;
    background:#004fff;
}
.btn_yellow {
    color:#fff;
    background:#f4db5a;
}
.btn_green {
    color:#fff;
    background:#007e46;
}
.btn_pink {
    color:#fff;
    background:#ee8aa2;
}
.btn_gray {
    color:#fff;
    background:#bfbfbf;
}
.btn_orange {
    color:#fff;
    background:#f24c10;
}
.btn_sky {
    color:#fff;
    background:#10a6e2;
}
.btn_brown {
    color:#fff;
    background:#d8783b;
}
.btn_purple {
    color:#fff;
    background:#6f2d91;
}
/* [Common] - Button > Outline */
.btn_outline.btn_lightgray {
    border:1px solid #ddd;
    background:none;
}
.btn_outline.btn_black {
    color:#000;
    border:1px solid #000;
    background:none;
}
.btn_outline.btn_red {
    color:#ff0000;
    border:1px solid #ff0000;
    background:none;
}
.btn_outline.btn_blue {
    color:#004fff;
    border:1px solid #004fff;
    background:none;
}
.btn_outline.btn_yellow {
    color:#f4db5a;
    border:1px solid #f4db5a;
    background:none;
}
.btn_outline.btn_green {
    color:#007e46;
    border:1px solid #007e46;
    background:none;
}
.btn_outline.btn_pink {
    color:#ee8aa2;
    border:1px solid #ee8aa2;
    background:none;
}
.btn_outline.btn_gray {
    color:#bfbfbf;
    border:1px solid #bfbfbf;
    background:none;
}
.btn_outline.btn_orange {
    color:#f24c10;
    border:1px solid #f24c10;
    background:none;
}
.btn_outline.btn_sky {
    color:#10a6e2;
    border:1px solid #10a6e2;
    background:none;
}
.btn_outline.btn_brown {
    color:#d8783b;
    border:1px solid #d8783b;
    background:none;
}
.btn_outline.btn_purple {
    color:#6f2d91;
    border:1px solid #6f2d91;
    background:none;
}

/* [Common] - Layout Rate */
.layout_rate {
    display:flex;
}
.layout_rate_10 {
    margin:0 -10px 20px;
}
.layout_rate .col {
    flex:1;
    margin:0 10px;
}
.layout_rate .col .col_content {
    min-height:60px;
    padding:20px;
    background:#fff;
    box-shadow:0 0 2px #ccc;
    box-sizing:border-box;
}
.layout_rate .col .col_page_content {
    padding-bottom:60px;
}
/* [Common] - Layout Rate > 2:8 */
.layout_rate .col_2 {
    flex:0.2;
}
.layout_rate .col_8 {
    flex:1;
}
/* [Common] - Layout Rate > 4:6 */
.layout_rate .col_4 {
    flex:0.4;
}
.layout_rate .col_6 {
    flex:1;
}
/* [Common] - Layout Rate > 3:3:3 */
.layout_rate .col_3 {
    flex:0.3333;
}
/* [Common] - Layout Rate > 5:5 */
.layout_rate .col_5 {
    flex:0.5;
}

/* [Common] - Radio */
.radio_default {
    display:inline-block;
    position:relative;
}
.radio_default .input_radio {
    display:none;
}
.radio_default label {
    padding:2px 0 2px 25px;
    font-size:14px;
    line-height:1.27em;
}
.radio_default label .icon {
    position:absolute;
    left:0;
    top:2px;
    width:16px;
    height:16px;
    border:2px solid #ccc;
    border-radius:50%;
    background:#fff;
    transition:all 0.4s;
}
.radio_default label .icon:after {
    content:"";
    position:absolute;
    left:3px;
    top:3px;
    width:10px;
    height:10px;
    border-radius:50%;
    transform:scale(0);
    transition:all 0.4s;
}
.radio_default .input_radio:checked+label .icon:after {
    transform:scale(1, 1);
}
/* [Common] - Radio > 색상별 */
.radio_default_blue label .icon:after {
    background:blue;
}
.radio_default_blue .input_radio:checked+label .icon {
    border-color:blue;
}
.radio_default_red label .icon:after {
    background:red;
}
.radio_default_red .input_radio:checked+label .icon {
    border-color:red;
}
.radio_default_sky label .icon:after {
    background:#10a6e2;
}
.radio_default_sky .input_radio:checked+label .icon {
    border-color:#10a6e2;
}
.radio_default_green label .icon:after {
    background:green;
}
.radio_default_green .input_radio:checked+label .icon {
    border-color:green;
}
.radio_default_pink label .icon:after {
    background:pink;
}
.radio_default_pink .input_radio:checked+label .icon {
    border-color:pink;
}
.radio_default_orange label .icon:after {
    background:orange;
}
.radio_default_orange .input_radio:checked+label .icon {
    border-color:orange;
}

/* [Common] - Check Default */
.check_default {
    display:inline-block;
    position:relative;
}
.check_default .input_check {
    display:none;
    position:absolute;
    left:0;
    top:0;
}
.check_default label {
    position:relative;
    padding:2px 0 2px 25px;
    font-size:14px;
    line-height:1.27em;
}
.check_default label .icon {
    position:absolute;
    left:0;
    top:2px;
    width:16px;
    height:16px;
    border:2px solid #ccc;
    border-radius:2px;
    background:#fff;
    transition:all 0.4s;
}
.check_default label .icon:before,
.check_default label .icon:after {
    content:"";
    position:absolute;
    background:#fff;
    opacity:0;
    transition:all 0.4s;
}
.check_default label .icon:before {
    left:3px;
    top:7px;
    width:2px;
    height:6px;
    transform:rotate(-45deg);
}
.check_default label .icon:after {
    left:8px;
    top:2px;
    width:2px;
    height:12px;
    transform:rotate(45deg);
}
.check_default .input_check:checked+label .icon:before,
.check_default .input_check:checked+label .icon:after {
    opacity:1;
}
/* [Common] - Check Default > 색상별 */
.check_default_blue .input_check:checked+label .icon {
    border-color:blue;
    background:blue;
}
.check_default_red .input_check:checked+label .icon {
    border-color:red;
    background:red;
}
.check_default_sky .input_check:checked+label .icon {
    border-color:#10a6e2;
    background:#10a6e2;
}
.check_default_green .input_check:checked+label .icon {
    border-color:green;
    background:green;
}
.check_default_pink .input_check:checked+label .icon {
    border-color:pink;
    background:pink;
}
.check_default_orange .input_check:checked+label .icon {
    border-color:orange;
    background:orange;
}

/* [Common] - Check Switch */
.check_switch {
    display:inline-block;
}
.check_switch .input_check {
    display:none;
}
.check_switch label {
    display:inline-block;
    position:relative;
    width:65px;
    height:25px;
    border-radius:12px;
    background:#e5e5e5;
    cursor:pointer;
    transition:background 0.3s;
}
.check_switch label:before {
    content:"off";
    position:absolute;
    right:0;
    top:1px;
    width:45px;
    color:#9a9a9a;
    text-align:center;
}
.check_switch label .icon {
    position:absolute;
    left:1px;
    top:1px;
    width:23px;
    height:23px;
    border-radius:12px;
    background:#fff;
    transition:all 0.2s;
}
.check_switch .input_check:checked+label {
    background:#007bff;
}
.check_switch .input_check:checked+label:before {
    content:"on";
    left:0;
    right:auto;
    color:#fff;
}
.check_switch .input_check:checked+label .icon {
    left:41px;
}
.check_switch_disable label {
    pointer-events:none;
    opacity:0.4;
}
/* [Common] - Check Switch > 색상별 */
.check_switch_blue .input_check:checked+label {
    background:blue;
}
.check_switch_red .input_check:checked+label {
    background:red;
}
.check_switch_sky .input_check:checked+label {
    background:#10a6e2;
}
.check_switch_green .input_check:checked+label {
    background:green;
}
.check_switch_pink .input_check:checked+label {
    background:pink;
}
.check_switch_orange .input_check:checked+label {
    background:orange;
}
/* [Common] - Check Switch */
.check_small_switch {
    display:inline-block;
}
.check_small_switch .input_check {
    display:none;
}
.check_small_switch label {
    display:inline-block;
    position:relative;
    width:90px;
    height:25px;
    border-radius:12px;
    cursor:pointer;
    transition:background 0.3s;
}
.check_small_switch label:before {
    content:"";
    display:block;
    width:30px;
    height:14px;
    margin:6px auto 0;
    border-radius:6px;
    background:#e5e5e5;
}
.check_small_switch label:after {
    content:"off";
    position:absolute;
    right:0;
    top:1px;
    width:28px;
    color:#9a9a9a;
    text-align:center;
}
.check_small_switch label .icon {
    position:absolute;
    left:19px;
    top:3px;
    width:20px;
    height:20px;
    border-radius:12px;
    background:#fff;
    box-shadow:0 0 3px #ccc;
    transition:all 0.2s;
}
.check_small_switch .input_check:checked+label:after {
    content:"on";
    left:0;
    right:auto;
}
.check_small_switch .input_check:checked+label .icon {
    left:48px;
}
/* [Common] - Check Switch > 색상별 */
.check_small_switch_blue .input_check:checked+label:before {
    background:#6699ff;
}
.check_small_switch_blue .input_check:checked+label:after {
    color:#007bff;
}
.check_small_switch_blue .input_check:checked+label .icon {
    background:#007bff;
}
.check_small_switch_red .input_check:checked+label:before {
    background:#ff6666;
}
.check_small_switch_red .input_check:checked+label:after {
    color:#ff0000;
}
.check_small_switch_red .input_check:checked+label .icon {
    background:#ff0000;
}
.check_small_switch_sky .input_check:checked+label:before {
    background:#33ccff;
}
.check_small_switch_sky .input_check:checked+label:after {
    color:#10a6e2;
}
.check_small_switch_sky .input_check:checked+label .icon {
    background:#10a6e2;
}
.check_small_switch_green .input_check:checked+label:before {
    background:#669966;
}
.check_small_switch_green .input_check:checked+label:after {
    color:#008000;
}
.check_small_switch_green .input_check:checked+label .icon {
    background:#008000;
}
.check_small_switch_pink .input_check:checked+label:before {
    background:#ffe8ec;
}
.check_small_switch_pink .input_check:checked+label:after {
    color:#ffc0cb;
}
.check_small_switch_pink .input_check:checked+label .icon {
    background:#ffc0cb;
}
.check_small_switch_orange .input_check:checked+label:before {
    background:#ffcc66;
}
.check_small_switch_orange .input_check:checked+label:after {
    color:#ffa500;
}
.check_small_switch_orange .input_check:checked+label .icon {
    background:#ffa500;
}

/* [Common] - Progress Bar */
.progress_default,
.progress_default_active {
    overflow:hidden;
    position:relative;
    height:20px;
    background:#f5f5f5;
    box-shadow:inset 0 1px 2px #ccc;
}
.progress_default .progress_bar {
    position:absolute;
    left:0;
    top:0;
    height:100%;
    box-shadow:inset 0 -1px 2px rgb(0 0 0 / 15%);
}
.progress_default_active .progress_bar {
    position:absolute;
    left:0;
    top:0;
    height:100%;
    background-image:linear-gradient(45deg, rgba(255,255,255,0.3) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.3) 50%, rgba(255,255,255,0.3) 75%, transparent 75%, transparent);
    background-size:40px 40px;
    box-shadow:inset 0 -1px 2px rgb(0 0 0 / 15%);
}
/* [Common] - Progress Bar > 색상별 */
.progress_default_blue .progress_bar {
    background-color:blue;
}
.progress_default_red .progress_bar {
    background-color:red;
}
.progress_default_sky .progress_bar {
    background-color:#10a6e2;
}
.progress_default_green .progress_bar {
    background-color:green;
}
.progress_default_pink .progress_bar {
    background-color:pink;
}
.progress_default_orange .progress_bar {
    background-color:orange;
}

/* [Common] - Default Tab */
.tabType {
	overflow:hidden;
	margin:20px 0 -1px;
	background:url(../image/common/tab_line_bg.gif) repeat-x 0 bottom;
}
.tabType li {
	float:left;
	margin-right:-1px;
	border:1px solid #d7dce2;
	background:#eff1f4;}
.tabType li a {
	display:block;
	padding:8px 25px 5px;
	font-weight:normal;
	font-size:14px;
	color:#8c9397;
	text-decoration:none;
	text-align:center;
}
.tabType li.active {
	position:relative;
	border-color:#0c7fb5;
	border-bottom-color:#fff;
	background:#fff;
}
.tabType li.active a {
	color:#0c7fb5;
	font-weight:bold;
}
.tabType li:last-child {}
.tabType_content {
	display:none;
	background:#eff1f4;
}
.tab_content,
.tab_border_content {
    display:none;
    padding:20px;
    border:1px solid #d7dce2;
}
.tab_border_content {
    border-top:none;
}

/* [Common] - Border Tab */
.tabType_border {
    display:flex;
    border-bottom:1px solid #ccc;
}
.tabType_border li {
    margin-bottom:-1px;
}
.tabType_border li a {
    display:block;
    padding:12px 15px;
    font-size:14px;
    color:#666;
    text-decoration:none;
}
.tabType_border li.active {
    font-weight:bold;
    border-bottom:4px solid #0c7fb5;
}
.tabType_border li.active a {
    color:#0c7fb5;
}

/* [Common] - Sub Tab */
.tabsubType {
	overflow:hidden;
	margin-bottom:15px;
}
.tabsubType li {
	float:left;
	margin-right:4px;
	box-sizing:border-box;}

.tabsubType li a {
	display:block;
	padding:6px 9px 6px 10px;
	line-height:16px;
	font-size:12px;
	color:#888;
	text-decoration:none;
	border:1px solid #ccc;
	box-sizing:border-box;
}
.tabsubType li.active a {
	padding:7px 10px;
	color:#fff;
	border:none;
	background:#259ded;
}

/* [Common] - Accordion Default */
.accordion_default {
    border-top:1px solid #ccc;
}
.accordion_default .title {
    display:block;
    padding:10px 20px;
    font-size:14px;
    color:#666;
    text-decoration:none;
    border:1px solid #ccc;
    border-top:none;
    background:#eee;
}
.accordion_default .accordion_content {
    display:none;
    padding:10px 20px;
    font-size:14px;
    border:1px solid #ccc;
    border-top:none;
}
/* [Common] - Accordion Single */
.accordion_single {}
.accordion_single .unit {
    margin-top:10px;
    border-top:2px solid #0c7fb5;
    border-radius:5px;
    background:#fff;
    box-shadow:0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
}
.accordion_single .unit:first-child {
    margin-top:0;
}
.accordion_single .unit .title {
    display:block;
    padding:10px 15px;
    font-size:14px;
    color:#666;
    text-decoration:none;
}
.accordion_single .unit .accordion_content {
    display:none;
    padding:10px 15px;
    font-size:13px;
    line-height:1.5em;
    color:#666;
    border-top:1px solid #eee;
}

/* [Common] - 셀렉트박스 */
.selectType {
    display:inline-block;
    width:200px;
    height:auto;
    margin:1px 20px 0 0;
    border:none;
}
.selectType .selectView {
    width:200px;
    padding:1px;
    font-size:12px;
    font-family:gulim;
    border:1px solid #ccc;
    background:#fff;
}
.selectType .selectView a {
    display:block;
    padding: 9px 8px 9px;font-size: 14px;
    color:#6d6d6d;
    text-decoration:none;
    background:url(../image/common/select_icon_off.gif) 92% 50% no-repeat;
}
.selectType .selectView a.on {
    background:url(../image/common/select_icon_on.gif) 92% 50% no-repeat;
}
.selectType .selectView_down a {}
.selectType .selectView_up a {
    background-image:url(../image/common/select_icon_on.gif);
}
.selectType .selectView_up.active a {
    background-image:url(../image/common/select_icon_off.gif);
}
.selectType .selectViewIcon a,
.selectType .selectViewIcon a.on {
    background:none;
}
.selectType .selectViewIcon .icon {
    position:absolute;
    right:16px;
    top:16px;
    width:13px;
    height:7px;
    background:url(../image/common/select_icon_off.gif) 0 0 no-repeat;
    transition:all 0.5s;
}
.selectType .selectViewIcon.active .icon {
    transform:rotate(-180deg);
}
.selectType .selectLayer {
    padding:5px 0;
    border:1px solid #ccc;
    background:#fff;
}
.selectType .selectLayer li {}
.selectType .selectLayer li a,
.selectType .selectLayer li .disable {
    display:block;
    padding:5px 10px;
    font-size:14px;
    color:#6d6d6d;
    text-decoration:none;
}
.selectType .selectLayer li .disable {
    opacity:0.6;
}
.selectType .selectLayer li.link_active a {
    background:#f6f6f6;
}