<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar Guide</title>
    <link rel="stylesheet" href="../../css/jqueryui/jquery-ui.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../css/ui.css">
    <script src="../../js/jquery-2.2.4.min.js"></script><!-- Jquery JS -->
    <script src="../../js/jquery-ui.js"></script><!-- Jquery Ui JS -->
    <script src="../../js/ui.js"></script><!-- Ui JS -->
</head>
<body>

<!-- [Layout] - Wrap -->
<div class="wrap">
    <!-- [Layout] - Container
        좌측메뉴 비활성화 클래스 : container_hidden
    -->
    <div class="container">
        <!-- [Layout] - Snb -->
        <div class="snb">
            <!-- [Layout] - Logo -->
            <h1 class="logo">
                <a href="../../index.html"><img src="../../image/layout/logo2.png" alt="wheelcook"></a>
                <p class="button">
                    <button type="button" id="js_quickMenu_close">
                        <span class="line"></span>
                        닫기
                    </button>
                </p>
            </h1>
            <!-- //[Layout] - Logo -->

            <!-- [Layout] - Menu -->
            <div id="js_menuForm" class="menu_form">
                <h2 class="overview">OVERVIEW</h2>
                <ul class="menu">
                    <li>
                        <a href="#" class="menu_depth">
                            메뉴1
                            <span class="icon"></span>
                        </a>
                        <ul>
                            <li><a href="#">서브메뉴1</a></li>
                            <li><a href="#">서브메뉴2</a></li>
                            <li class="last-child"><a href="#">서브메뉴3</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="menu_depth">
                            메뉴2
                            <span class="icon"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="menu_depth">
                            메뉴3
                            <span class="icon"></span>
                        </a>
                        <ul>
                            <li><a href="#">서브메뉴1</a></li>
                            <li><a href="#">서브메뉴2</a></li>
                            <li class="last-child"><a href="#">서브메뉴3</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="menu_depth">
                            메뉴4
                            <span class="icon"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="menu_depth">
                            메뉴5
                            <span class="icon"></span>
                        </a>
                        <ul>
                            <li><a href="#">서브메뉴1</a></li>
                            <li><a href="#">서브메뉴2</a></li>
                            <li class="last-child"><a href="#">서브메뉴3</a></li>
                        </ul>
                    </li>
                </ul>

                <h2 class="html_guide">UI COMPONENT</h2>
                <ul class="menu">
                    <li>
                        <a href="#" class="menu_depth">
                            Button
                            <span class="icon"></span>
                        </a>
                        <ul>
                            <li><a href="../ui/button_link_rect.html">Link Rectangle</a></li>
                            <li><a href="../ui/button_link_round.html">Link Round</a></li>
                            <li><a href="../ui/button_default.html">Button Rectangle</a></li>
                            <li class="last-child"><a href="../ui/button_round.html">Button Round</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="menu_depth">
                            Input
                            <span class="icon"></span>
                        </a>
                        <ul>
                            <li><a href="../ui/input_text.html">Text</a></li>
                            <li><a href="../ui/input_radio.html">Radio</a></li>
                            <li class="last-child"><a href="../ui/input_checkbox.html">Checkbox</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="../ui/progressbar.html" class="menu_depth">
                            Progress Bar
                            <span class="icon"></span>
                        </a>
                    </li>
                    <li>
                        <a href="../ui/slidebar.html" class="menu_depth">
                            Slide Bar
                            <span class="icon"></span>
                        </a>
                    </li>
                    <li>
                        <a href="../ui/layout.html" class="menu_depth">
                            Layout
                            <span class="icon"></span>
                        </a>
                    </li>
                    <li>
                        <a href="../ui/tab.html" class="menu_depth">
                            Tab
                            <span class="icon"></span>
                        </a>
                    </li>
                    <li>
                        <a href="../ui/accordions.html" class="menu_depth">
                            Accordions
                            <span class="icon"></span>
                        </a>
                    </li>
                    <li>
                        <a href="../ui/select.html" class="menu_depth">
                            Select
                            <span class="icon"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="menu_depth">
                            Table
                            <span class="icon"></span>
                        </a>
                        <ul>
                            <li><a href="../ui/table_top_content.html">Table Top Content</a></li>
                            <li><a href="../ui/table_list.html">Table List</a></li>
                            <li><a href="../ui/table_view.html">Table View</a></li>
                            <li class="last-child"><a href="../ui/table_write.html">Table Write</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="../ui/paging.html" class="menu_depth">
                            Paging
                            <span class="icon"></span>
                        </a>
                    </li>
                    <li>
                        <a href="../ui/search.html" class="menu_depth">
                            Search
                            <span class="icon"></span>
                        </a>
                    </li>
                    <li>
                        <a href="../ui/popup.html" class="menu_depth">
                            Popup
                            <span class="icon"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="menu_depth">
                            Layer
                            <span class="icon"></span>
                        </a>
                        <ul>
                            <li><a href="../ui/layer.html">Layer Basic</a></li>
                            <li class="last-child"><a href="../ui/layer_modal.html">Layer Modal</a></li>
                        </ul>
                    </li>
                </ul>

                <h2 class="js_guide">ADDONS COMPONENT</h2>
                <ul class="menu">
                    <li class="active">
                        <a href="#" class="menu_depth">
                            Calendar
                            <span class="icon"></span>
                        </a>
                        <ul>
                            <li><a href="./jquery_calendar.html">Jquery UI</a></li>
                            <li class="last-child on"><a href="#">Vanilla JS</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="menu_depth">
                            Chart
                            <span class="icon"></span>
                        </a>
                        <ul>
                            <li><a href="../addons/chart_defalut.html">Bar Chart</a></li>
                            <li><a href="../addons/chart_line.html">Line Chart</a></li>
                            <li><a href="../addons/chart_doughnut.html">Doughnut Chart</a></li>
                            <li class="last-child on"><a href="../addons/chart_pie.html">Pie Chart</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="menu_depth">
                            Swiper
                            <span class="icon"></span>
                        </a>
                        <ul>
                            <li><a href="./swiper_default.html">Default</a></li>
                            <li><a href="./swiper_pagination.html">Pagination</a></li>
                            <li><a href="./swiper_slideview.html">SlidePerView</a></li>
                            <li><a href="./swiper_freemode.html">FreeMode</a></li>
                            <li><a href="./swiper_loop.html">Loop</a></li>
                            <li><a href="./swiper_autoplay.html">AutoPlay</a></li>
                            <li class="last-child"><a href="./swiper_imagelazy.html">Image Lazy</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="./aos.html" class="menu_depth">
                            Aos
                            <span class="icon"></span>
                        </a>
                    </li>
                </ul>

                <!-- 보호모드 -->
                <div class="protectmode">
                    <a id="js_protectMode" href="#">
                        <div class="text">
                            <span>다크 모드로 보기</span>
                        </div>
                    </a>
                </div>
                <!-- //보호모드 -->
            </div>
            <!-- //[Layout] - Menu -->
        </div>
        <!-- //[Layout] - Snb -->

        <!-- [Layout] - Content -->
        <div class="content">
            <!-- [Layout] - Global Form -->
            <div class="global_form">
                <!-- [Layout] - Function -->
                <div class="function">
                    <!-- [Layout] - Quick Button Close -->
                    <div class="quick_button">
                        <button type="button" id="js_quickMenu_open">
                            <span class="line"></span>
                            열기
                        </button>
                    </div>
                    <!-- //[Layout] - Quick Button Close -->

                    <!-- [Layout] - Search -->
                    <div class="search_form">
                        <input type="text" class="input_text global_search" placeholder="Search">
                    </div>
                    <!-- //[Layout] - Search -->
                </div>
                <!-- //[Layout] - Function -->

                <!-- [Layout] - User Controll -->
                <div class="user_controll">
                    <a href="#" class="login">로그인</a>
                    <div class="user_info">
                        <button type="button">
                            <span class="icon">
                                <span></span>
                            </span>
                            Admin
                        </button>
                        <ul class="list">
                            <li><a href="#">회원정보관리</a></li>
                            <li><a href="#">로그아웃</a></li>
                        </ul>
                    </div>
                </div>
                <!-- //[Layout] - User Controll -->
            </div>
            <!-- //[Layout] - Global Form -->

            <!-- [Layout] - Ui Form -->
            <div class="ui_form">
                <!-- [Layout] - Location -->
                <div class="location">
                    <span class="icon"></span>
                    <span class="depth">ADDONS COMPONENT</span>
                    <span class="depth">CALENDAR</span>
                    <strong>VANILLA JS</strong>
                </div>
                <!-- //[Layout] - Location -->

                <!-- [Layout] - Expand -->
                <div class="layout_rate layout_rate_10">
                    <!-- [Layout] - Col 100% -->
                    <div class="col">
                        <!-- [Common] - Category Form -->
                        <div class="category_form">
                            <!-- Category Header -->
                            <div class="ctg_header">
                                <h4>VANILLA JS</h4>
                            </div>
                            <!-- //Category Header -->

                            <!-- Category Content -->
                            <div class="ctg_content">
                                <p class="category_title">
                                    DEFAULT
                                    <span class="msg">(기본 달력)</span>
                                </p>
                                <!-- [Common] - 캘린더 -->
                                <div id="js_calendarForm" class="calendar_form_parent">
                                    <input type="text" class="input_text" style="width:180px;">
                                    <div class="calendar_form"></div>
                                </div>
                                <!-- //[Common] - 캘린더 -->
                                <script type="text/javascript">
                                /* ◈◈◈ option ◈◈◈
                                - calendarId : "#js_calendarForm" ----- 캘린더 전체영역
                                - dateFormat : "yy-mm-dd" ----- 달력 날짜 형태
                                - buttonUse : false ----- 레이어 오픈 버튼 생성
                                - showView : "layer" ----- 달력 오픈 형태("default" or "layer")
                                - layerPos : "bottom" ----- 레이어 위치("top" or "bottom")
                                - layerEffect : "default" ----- 레이어 활성화 모션("default" or "fade")
                                - dayNamesMin : ["일", "월", "화", "수", "목", "금", "토"] ----- 요일 형태 배열
                                - dateFormat : "text" ----- 날짜 타이틀 형식("text" or "/" or ".")
                                - changeYear : false ----- 년도 Select 박스 여부
                                - changeMonth : false ----- 월 Select 박스 여부
                                - showOtherMonths : false ----- 1일 이전, 말일 이후에 빈공간
                                - minDate : false ----- 활성화 최소 날짜(입력폼 : "2022/7/20")
                                - maxDate : false ----- 활성화 최대 날짜(입력폼 : "2022/7/25")
                                - disabledDay : ["2022/7/15"] ----- 개별 비활성화 날짜 배열(입력폼 : "2022/7/15")
                                - todayUse : false ----- 오늘버튼 기능
                                - layerCloseUse : {
                                    show : true, ----- 닫기 버튼 생성(true or false)
                                    text : "닫기" ----- 버튼 텍스트("닫기") 또는 이미지 경로("img/btn_close.gif")
                                }
                                */
                                // 기본형
                                calendar({
                                    calendarId : "#js_calendarForm",
                                    showView : "default",
                                    layerEffect : "fade",
                                    dateFormat : "text",
                                    showOtherMonths : true,
                                    disabledDay : ["2022/7/13", "2022/7/25"]
                                });
                                </script>

                                <!-- [UI] - Source -->
                                <div class="source">
                                    <div class="tit">Source</div>
                                    <p class="btn_close">
                                        <a href="#">
                                            닫기
                                            <span class="icon"></span>
                                        </a>
                                    </p>
                                    <pre>
<xmp><!-- [Common] - 캘린더 -->
<div id="js_calendarForm" class="calendar_form_parent">
    <input type="text" class="input_text" style="width:180px;">
    <div class="calendar_form"></div>
</div>
<!-- //[Common] - 캘린더 -->
<script type="text/javascript">
/* ◈◈◈ option ◈◈◈
- calendarId : "#js_calendarForm" ----- 캘린더 전체영역
- dateFormat : "yy-mm-dd" ----- 달력 날짜 형태
- buttonUse : false ----- 레이어 오픈 버튼 생성
- showView : "layer" ----- 달력 오픈 형태("default" or "layer")
- layerPos : "bottom" ----- 레이어 위치("top" or "bottom")
- layerEffect : "default" ----- 레이어 활성화 모션("default" or "fade")
- dayNamesMin : ["일", "월", "화", "수", "목", "금", "토"] ----- 요일 형태 배열
- dateFormat : "text" ----- 날짜 타이틀 형식("text" or "/" or ".")
- changeYear : false ----- 년도 Select 박스 여부
- changeMonth : false ----- 월 Select 박스 여부
- showOtherMonths : false ----- 1일 이전, 말일 이후에 빈공간
- minDate : false ----- 활성화 최소 날짜(입력폼 : "2022/7/20")
- maxDate : false ----- 활성화 최대 날짜(입력폼 : "2022/7/25")
- disabledDay : ["2022/7/15"] ----- 개별 비활성화 날짜 배열(입력폼 : "2022/7/15")
- todayUse : false ----- 오늘버튼 기능
- layerCloseUse : {
    show : true, ----- 닫기 버튼 생성(true or false)
    text : "닫기" ----- 버튼 텍스트("닫기") 또는 이미지 경로("img/btn_close.gif")
}
*/
// 기본형
calendar({
    calendarId : "#js_calendarForm",
    showView : "default",
    layerEffect : "fade",
    dateFormat : "text",
    showOtherMonths : true,
    disabledDay : ["2022/7/13", "2022/7/25"]
});
</script>
</xmp>
                                    </pre>
                                </div>
                                <!-- //[UI] - Source -->

                                <p class="category_title">
                                    Input Layer
                                    <span class="msg">(달력레이어 현재 월에 해당하는 날짜 표시)</span>
                                </p>
                                <!-- [Common] - 캘린더 레이어 -->
                                <div id="js_calendarForm_default" class="calendar_form_parent calendar_form_parent_layer">
                                    <!-- [Common] - Input Text -->
                                    <span class="input_text_area" style="width:200px;">
                                        <input type="text" id="js_datepicker_select" class="input_text">
                                    </span>
                                    <!-- //[Common] - Input Text -->
                                    <div class="calendar_form"></div>
                                </div>
                                <!-- //[Common] - 캘린더 레이어 -->
                                <script type="text/javascript">
                                // 달력 기본형
                                calendar({
                                    calendarId : "#js_calendarForm_default",
                                    showView : "layer"
                                });
                                </script>

                                <!-- [UI] - Source -->
                                <div class="source">
                                    <div class="tit">Source</div>
                                    <p class="btn_close">
                                        <a href="#">
                                            닫기
                                            <span class="icon"></span>
                                        </a>
                                    </p>
                                    <pre>
<xmp><!-- [Common] - 캘린더 레이어 기본형 -->
<div id="js_calendarForm_default" class="calendar_form_parent calendar_form_parent_layer">
    <!-- [Common] - Input Text -->
    <span class="input_text_area" style="width:200px;">
        <input type="text" id="js_datepicker_select" class="input_text">
    </span>
    <!-- //[Common] - Input Text -->
    <div class="calendar_form"></div>
</div>
<!-- //[Common] - 캘린더 레이어 기본형 -->
<script type="text/javascript">
// 달력 기본형
calendar({
    calendarId : "#js_calendarForm_default",
    showView : "layer"
});
</script>
</xmp>
                                    </pre>
                                </div>
                                <!-- //[UI] - Source -->
                                
                                <p class="category_title">
                                    Input Layer
                                    <span class="msg">(달력레이어 오픈 버튼 생성)</span>
                                </p>
                                <!-- [Common] - 캘린더 레이어 -->
                                <div id="js_calendarForm_button" class="calendar_form_parent calendar_form_parent_layer">
                                    <!-- [Common] - Input Text -->
                                    <span class="input_text_area" style="width:200px;">
                                        <input type="text" id="js_datepicker_select" class="input_text">
                                    </span>
                                    <!-- //[Common] - Input Text -->
                                    <div class="calendar_form"></div>
                                </div>
                                <!-- //[Common] - 캘린더 레이어 -->
                                <script type="text/javascript">
                                // 달력레이어 오픈 버튼 생성
                                calendar({
                                    calendarId : "#js_calendarForm_button",
                                    showView : "layer",
                                    buttonUse : true
                                });
                                </script>

                                <!-- [UI] - Source -->
                                <div class="source">
                                    <div class="tit">Source</div>
                                    <p class="btn_close">
                                        <a href="#">
                                            닫기
                                            <span class="icon"></span>
                                        </a>
                                    </p>
                                    <pre>
<xmp><!-- [Common] - 캘린더 레이어 기본형 -->
<div id="js_calendarForm_button" class="calendar_form_parent calendar_form_parent_layer">
    <!-- [Common] - Input Text -->
    <span class="input_text_area" style="width:200px;">
        <input type="text" id="js_datepicker_select" class="input_text">
    </span>
    <!-- //[Common] - Input Text -->
    <div class="calendar_form"></div>
</div>
<!-- //[Common] - 캘린더 레이어 기본형 -->
<script type="text/javascript">
// 달력 기본형
calendar({
    calendarId : "#js_calendarForm_button",
    showView : "layer",
    buttonUse : true
});
</script>
</xmp>
                                    </pre>
                                </div>
                                <!-- //[UI] - Source -->

                                <p class="category_title">
                                    Input Layer
                                    <span class="msg">(달력레이어 1일이전, 말일이후 날짜 출력)</span>
                                </p>
                                <!-- [Common] - 캘린더 레이어 -->
                                <div id="js_calendarForm_other" class="calendar_form_parent calendar_form_parent_layer">
                                    <!-- [Common] - Input Text -->
                                    <span class="input_text_area" style="width:200px;">
                                        <input type="text" id="js_datepicker_select" class="input_text">
                                    </span>
                                    <!-- //[Common] - Input Text -->
                                    <div class="calendar_form"></div>
                                </div>
                                <!-- //[Common] - 캘린더 레이어 -->
                                <script type="text/javascript">
                                // 달력 1일이전, 말일이후 날짜 출력
                                calendar({
                                    calendarId : "#js_calendarForm_other",
                                    showView : "layer",
                                    showOtherMonths : true
                                });
                                </script>

                                <!-- [UI] - Source -->
                                <div class="source">
                                    <div class="tit">Source</div>
                                    <p class="btn_close">
                                        <a href="#">
                                            닫기
                                            <span class="icon"></span>
                                        </a>
                                    </p>
                                    <pre>
<xmp><!-- [Common] - 캘린더 레이어 기본형 -->
<div id="js_calendarForm_other" class="calendar_form_parent calendar_form_parent_layer">
    <!-- [Common] - Input Text -->
    <span class="input_text_area" style="width:200px;">
        <input type="text" id="js_datepicker_select" class="input_text">
    </span>
    <!-- //[Common] - Input Text -->
    <div class="calendar_form"></div>
</div>
<!-- //[Common] - 캘린더 레이어 기본형 -->
<script type="text/javascript">
// 달력 1일이전, 말일이후 날짜 출력
calendar({
    calendarId : "#js_calendarForm_other",
    showView : "layer",
    showOtherMonths : true
});
</script>
</xmp>
                                    </pre>
                                </div>
                                <!-- //[UI] - Source -->

                                <p class="category_title">
                                    Input Layer
                                    <span class="msg">(달력레이어 오늘 버튼 생성)</span>
                                </p>
                                <!-- [Common] - 캘린더 레이어 -->
                                <div id="js_calendarForm_today" class="calendar_form_parent calendar_form_parent_layer">
                                    <!-- [Common] - Input Text -->
                                    <span class="input_text_area" style="width:200px;">
                                        <input type="text" id="js_datepicker_select" class="input_text">
                                    </span>
                                    <!-- //[Common] - Input Text -->
                                    <div class="calendar_form"></div>
                                </div>
                                <!-- //[Common] - 캘린더 레이어 -->
                                <script type="text/javascript">
                                // 달력 오늘 버튼 생성
                                calendar({
                                    calendarId : "#js_calendarForm_today",
                                    showView : "layer",
                                    showOtherMonths : true,
                                    todayUse : true
                                });
                                </script>

                                <!-- [UI] - Source -->
                                <div class="source">
                                    <div class="tit">Source</div>
                                    <p class="btn_close">
                                        <a href="#">
                                            닫기
                                            <span class="icon"></span>
                                        </a>
                                    </p>
                                    <pre>
<xmp><!-- [Common] - 캘린더 레이어 기본형 -->
<div id="js_calendarForm_today" class="calendar_form_parent calendar_form_parent_layer">
    <!-- [Common] - Input Text -->
    <span class="input_text_area" style="width:200px;">
        <input type="text" id="js_datepicker_select" class="input_text">
    </span>
    <!-- //[Common] - Input Text -->
    <div class="calendar_form"></div>
</div>
<!-- //[Common] - 캘린더 레이어 기본형 -->
<script type="text/javascript">
// 달력 오늘 버튼 생성
calendar({
    calendarId : "#js_calendarForm_today",
    showView : "layer",
    showOtherMonths : true,
    todayUse : true
});
</script>
</xmp>
                                    </pre>
                                </div>
                                <!-- //[UI] - Source -->

                                <p class="category_title">
                                    Input Layer
                                    <span class="msg">(달력레이어 년도 및 월을 셀렉트박스로 선택)</span>
                                </p>
                                <!-- [Common] - 캘린더 레이어 -->
                                <div id="js_calendarForm_select" class="calendar_form_parent calendar_form_parent_layer">
                                    <!-- [Common] - Input Text -->
                                    <span class="input_text_area" style="width:200px;">
                                        <input type="text" id="js_datepicker_select" class="input_text">
                                    </span>
                                    <!-- //[Common] - Input Text -->
                                    <div class="calendar_form"></div>
                                </div>
                                <!-- //[Common] - 캘린더 레이어 -->
                                <script type="text/javascript">
                                // 달력 년도 및 월을 셀렉트박스로 선택
                                calendar({
                                    calendarId : "#js_calendarForm_select",
                                    showView : "layer",
                                    showOtherMonths : true,
                                    todayUse : true,
                                    changeYear : true,
                                    changeMonth : true
                                });
                                </script>

                                <!-- [UI] - Source -->
                                <div class="source">
                                    <div class="tit">Source</div>
                                    <p class="btn_close">
                                        <a href="#">
                                            닫기
                                            <span class="icon"></span>
                                        </a>
                                    </p>
                                    <pre>
<xmp><!-- [Common] - 캘린더 레이어 -->
<div id="js_calendarForm_select" class="calendar_form_parent calendar_form_parent_layer">
    <!-- [Common] - Input Text -->
    <span class="input_text_area" style="width:200px;">
        <input type="text" id="js_datepicker_select" class="input_text">
    </span>
    <!-- //[Common] - Input Text -->
    <div class="calendar_form"></div>
</div>
<!-- //[Common] - 캘린더 레이어 -->
<script type="text/javascript">
// 달력 년도 및 월을 셀렉트박스로 선택
calendar({
    calendarId : "#js_calendarForm_select",
    showView : "layer",
    showOtherMonths : true,
    todayUse : true,
    changeYear : true,
    changeMonth : true
});
</script>
</xmp>
                                    </pre>
                                </div>
                                <!-- //[UI] - Source -->

                                <p class="category_title">
                                    Input Layer
                                    <span class="msg">(달력레이어 활성화 모션)</span>
                                </p>
                                <!-- [Common] - 캘린더 레이어 -->
                                <div id="js_calendarForm_effect" class="calendar_form_parent calendar_form_parent_layer">
                                    <!-- [Common] - Input Text -->
                                    <span class="input_text_area" style="width:200px;">
                                        <input type="text" id="js_datepicker_select" class="input_text">
                                    </span>
                                    <!-- //[Common] - Input Text -->
                                    <div class="calendar_form"></div>
                                </div>
                                <!-- //[Common] - 캘린더 레이어 -->
                                <script type="text/javascript">
                                // 달력 활성화 모션
                                calendar({
                                    calendarId : "#js_calendarForm_effect",
                                    showView : "layer",
                                    layerEffect : "fade",
                                    showOtherMonths : true,
                                    todayUse : true
                                });
                                </script>

                                <!-- [UI] - Source -->
                                <div class="source">
                                    <div class="tit">Source</div>
                                    <p class="btn_close">
                                        <a href="#">
                                            닫기
                                            <span class="icon"></span>
                                        </a>
                                    </p>
                                    <pre>
<xmp><!-- [Common] - 캘린더 레이어 -->
<div id="js_calendarForm_effect" class="calendar_form_parent calendar_form_parent_layer">
    <!-- [Common] - Input Text -->
    <span class="input_text_area" style="width:200px;">
        <input type="text" id="js_datepicker_select" class="input_text">
    </span>
    <!-- //[Common] - Input Text -->
    <div class="calendar_form"></div>
</div>
<!-- //[Common] - 캘린더 레이어 -->
<script type="text/javascript">
// 달력 활성화 모션
calendar({
    calendarId : "#js_calendarForm_effect",
    showView : "layer",
    layerEffect : "fade",
    showOtherMonths : true,
    todayUse : true
});
</script>
</xmp>
                                    </pre>
                                </div>
                                <!-- //[UI] - Source -->

                                <p class="category_title">
                                    Input Layer
                                    <span class="msg">(달력레이어 부분 비활성화)</span>
                                </p>
                                <!-- [Common] - 캘린더 레이어 -->
                                <div id="js_calendarForm_disabled" class="calendar_form_parent calendar_form_parent_layer">
                                    <!-- [Common] - Input Text -->
                                    <span class="input_text_area" style="width:200px;">
                                        <input type="text" id="js_datepicker_select" class="input_text">
                                    </span>
                                    <!-- //[Common] - Input Text -->
                                    <div class="calendar_form"></div>
                                </div>
                                <!-- //[Common] - 캘린더 레이어 -->
                                <script type="text/javascript">
                                // 달력 부분 비활성화
                                calendar({
                                    calendarId : "#js_calendarForm_disabled",
                                    showView : "layer",
                                    layerEffect : "fade",
                                    showOtherMonths : true,
                                    disabledDay : ["2022/10/2", "2022/10/12", "2022/10/18", "2022/10/27"],
                                    todayUse : true
                                });
                                </script>

                                <!-- [UI] - Source -->
                                <div class="source">
                                    <div class="tit">Source</div>
                                    <p class="btn_close">
                                        <a href="#">
                                            닫기
                                            <span class="icon"></span>
                                        </a>
                                    </p>
                                    <pre>
<xmp><!-- [Common] - 캘린더 레이어 -->
<div id="js_calendarForm_disabled" class="calendar_form_parent calendar_form_parent_layer">
    <!-- [Common] - Input Text -->
    <span class="input_text_area" style="width:200px;">
        <input type="text" id="js_datepicker_select" class="input_text">
    </span>
    <!-- //[Common] - Input Text -->
    <div class="calendar_form"></div>
</div>
<!-- //[Common] - 캘린더 레이어 -->
<script type="text/javascript">
// 달력 부분 비활성화
calendar({
    calendarId : "#js_calendarForm_disabled",
    showView : "layer",
    layerEffect : "fade",
    showOtherMonths : true,
    disabledDay : ["2022/10/2", "2022/10/12", "2022/10/18", "2022/10/27"],
    todayUse : true
});
</script>
</xmp>
                                    </pre>
                                </div>
                                <!-- //[UI] - Source -->

                                <p class="category_title">
                                    Input Layer
                                    <span class="msg">(달력레이어 활성화 영역 지정)</span>
                                </p>
                                <!-- [Common] - 캘린더 레이어 -->
                                <div id="js_calendarForm_disabled_scope" class="calendar_form_parent calendar_form_parent_layer">
                                    <!-- [Common] - Input Text -->
                                    <span class="input_text_area" style="width:200px;">
                                        <input type="text" id="js_datepicker_select" class="input_text">
                                    </span>
                                    <!-- //[Common] - Input Text -->
                                    <div class="calendar_form"></div>
                                </div>
                                <!-- //[Common] - 캘린더 레이어 -->
                                <script type="text/javascript">
                                // 달력 활성화 영역 지정
                                calendar({
                                    calendarId : "#js_calendarForm_disabled_scope",
                                    showView : "layer",
                                    layerEffect : "fade",
                                    showOtherMonths : true,
                                    minDate : "2022/10/2",
                                    maxDate : "2022/11/20",
                                    todayUse : true
                                });
                                </script>

                                <!-- [UI] - Source -->
                                <div class="source">
                                    <div class="tit">Source</div>
                                    <p class="btn_close">
                                        <a href="#">
                                            닫기
                                            <span class="icon"></span>
                                        </a>
                                    </p>
                                    <pre>
<xmp><!-- [Common] - 캘린더 레이어 -->
<div id="js_calendarForm_disabled_scope" class="calendar_form_parent calendar_form_parent_layer">
    <!-- [Common] - Input Text -->
    <span class="input_text_area" style="width:200px;">
        <input type="text" id="js_datepicker_select" class="input_text">
    </span>
    <!-- //[Common] - Input Text -->
    <div class="calendar_form"></div>
</div>
<!-- //[Common] - 캘린더 레이어 -->
<script type="text/javascript">
// 달력 활성화 영역 지정
calendar({
    calendarId : "#js_calendarForm_disabled_scope",
    showView : "layer",
    layerEffect : "fade",
    showOtherMonths : true,
    minDate : "2022/10/2",
    maxDate : "2022/11/20",
    todayUse : true
});
</script>
</xmp>
                                    </pre>
                                </div>
                                <!-- //[UI] - Source -->

                                <p class="category_title">
                                    Input Layer
                                    <span class="msg">(달력레이어 상하단 위치 지정)</span>
                                </p>
                                <!-- [Common] - 캘린더 레이어 -->
                                <div id="js_calendarForm_position" class="calendar_form_parent calendar_form_parent_layer">
                                    <!-- [Common] - Input Text -->
                                    <span class="input_text_area" style="width:200px;">
                                        <input type="text" id="js_datepicker_select" class="input_text">
                                    </span>
                                    <!-- //[Common] - Input Text -->
                                    <div class="calendar_form"></div>
                                </div>
                                <!-- //[Common] - 캘린더 레이어 -->
                                <script type="text/javascript">
                                // 달력 상하단 위치 지정
                                calendar({
                                    calendarId : "#js_calendarForm_position",
                                    showView : "layer",
                                    layerPos : "top",
                                    showOtherMonths : true
                                });
                                </script>

                                <!-- [UI] - Source -->
                                <div class="source">
                                    <div class="tit">Source</div>
                                    <p class="btn_close">
                                        <a href="#">
                                            닫기
                                            <span class="icon"></span>
                                        </a>
                                    </p>
                                    <pre>
<xmp><!-- [Common] - 캘린더 레이어 -->
<div id="js_calendarForm_position" class="calendar_form_parent calendar_form_parent_layer">
    <!-- [Common] - Input Text -->
    <span class="input_text_area" style="width:200px;">
        <input type="text" id="js_datepicker_select" class="input_text">
    </span>
    <!-- //[Common] - Input Text -->
    <div class="calendar_form"></div>
</div>
<!-- //[Common] - 캘린더 레이어 -->
<script type="text/javascript">
// 달력 상하단 위치 지정
calendar({
    calendarId : "#js_calendarForm_position",
    showView : "layer",
    layerPos : "top",
    showOtherMonths : true
});
</script>
</xmp>
                                    </pre>
                                </div>
                                <!-- //[UI] - Source -->

                            </div>
                            <!-- //Category Content -->
                        </div>
                        <!-- //[Common] - Category Form -->
                    </div>
                    <!-- [Layout] - Col 100% -->
                </div>
                <!-- //[Layout] - Expand -->

            </div>
            <!-- //[Layout] - Ui Form -->
        </div>
        <!-- //[Layout] - Content -->
    </div>
    <!-- //[Layout] - Container -->

    <!-- [Layout] - Button Top -->
    <div class="btn_top">
        <a href="#">상단으로 이동</a>
    </div>
    <!-- //[Layout] - Button Top -->
</div>
<!-- //[Layout] - Wrap -->

<script type="text/javascript">
// Quick Menu
$("#js_quickMenu_close").quickMenu();

// Snb Menu
/* === option ===
- active : 1 or Number ----- 1 ~ @ 입력가능하며 최대는 메뉴의 총갯수까지 적용(그 수를 넘으면 첫번째 메뉴가 활성화됨)
*/
$("#js_menuForm").snbMenu();

// Source Toggle
sourceToggle({ active : 1 });

// 상단 이동 버튼
btnTopMove();

// Scroll 이벤트
$(window).on("scroll", function(){
    // 상단 이동 버튼
    btnTopMove();
});
</script>

</body>
</html>