<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layer Guide</title>
    <link rel="stylesheet" href="../../css/jqueryui/jquery-ui.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../css/ui.css">
    <script src="../../js/jquery-2.2.4.min.js"></script><!-- Jquery JS -->
    <script src="../../js/jquery-ui.js"></script><!-- Jquery Ui JS -->
    <script src="../../js/ui.js"></script><!-- Ui JS -->
</head>
<body>

<!-- [Layout] - Wrap -->
<div class="wrap">
    <!-- [Layout] - Container
        좌측메뉴 비활성화 클래스 : container_hidden
    -->
    <div class="container">
        <!-- [Layout] - Snb -->
        <div class="snb">
            <!-- [Layout] - Logo -->
            <h1 class="logo">
                <a href="../../index.html"><img src="../../image/layout/logo2.png" alt="wheelcook"></a>
                <p class="button">
                    <button type="button" id="js_quickMenu_close">
                        <span class="line"></span>
                        닫기
                    </button>
                </p>
            </h1>
            <!-- //[Layout] - Logo -->

            <!-- [Layout] - Menu -->
            <div id="js_menuForm" class="menu_form">
                <h2 class="overview">OVERVIEW</h2>
                <ul class="menu">
                    <li>
                        <a href="#" class="menu_depth">
                            메뉴1
                            <span class="icon"></span>
                        </a>
                        <ul>
                            <li><a href="#">서브메뉴1</a></li>
                            <li><a href="#">서브메뉴2</a></li>
                            <li class="last-child"><a href="#">서브메뉴3</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="menu_depth">
                            메뉴2
                            <span class="icon"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="menu_depth">
                            메뉴3
                            <span class="icon"></span>
                        </a>
                        <ul>
                            <li><a href="#">서브메뉴1</a></li>
                            <li><a href="#">서브메뉴2</a></li>
                            <li class="last-child"><a href="#">서브메뉴3</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="menu_depth">
                            메뉴4
                            <span class="icon"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="menu_depth">
                            메뉴5
                            <span class="icon"></span>
                        </a>
                        <ul>
                            <li><a href="#">서브메뉴1</a></li>
                            <li><a href="#">서브메뉴2</a></li>
                            <li class="last-child"><a href="#">서브메뉴3</a></li>
                        </ul>
                    </li>
                </ul>

                <h2 class="html_guide">UI COMPONENT</h2>
                <ul class="menu">
                    <li>
                        <a href="#" class="menu_depth">
                            Button
                            <span class="icon"></span>
                        </a>
                        <ul>
                            <li><a href="./button_link_rect.html">Link Rectangle</a></li>
                            <li><a href="./button_link_round.html">Link Round</a></li>
                            <li><a href="./button_default.html">Button Rectangle</a></li>
                            <li class="last-child"><a href="./button_round.html">Button Round</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="menu_depth">
                            Input
                            <span class="icon"></span>
                        </a>
                        <ul>
                            <li><a href="./input_text.html">Text</a></li>
                            <li><a href="./input_radio.html">Radio</a></li>
                            <li class="last-child"><a href="./input_checkbox.html">Checkbox</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="./progressbar.html" class="menu_depth">
                            Progress Bar
                            <span class="icon"></span>
                        </a>
                    </li>
                    <li>
                        <a href="./slidebar.html" class="menu_depth">
                            Slide Bar
                            <span class="icon"></span>
                        </a>
                    </li>
                    <li>
                        <a href="./layout.html" class="menu_depth">
                            Layout
                            <span class="icon"></span>
                        </a>
                    </li>
                    <li>
                        <a href="./tab.html" class="menu_depth">
                            Tab
                            <span class="icon"></span>
                        </a>
                    </li>
                    <li>
                        <a href="./accordions.html" class="menu_depth">
                            Accordions
                            <span class="icon"></span>
                        </a>
                    </li>
                    <li>
                        <a href="./select.html" class="menu_depth">
                            Select
                            <span class="icon"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="menu_depth">
                            Table
                            <span class="icon"></span>
                        </a>
                        <ul>
                            <li><a href="./table_top_content.html">Table Top Content</a></li>
                            <li><a href="./table_list.html">Table List</a></li>
                            <li><a href="./table_view.html">Table View</a></li>
                            <li class="last-child"><a href="./table_write.html">Table Write</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="./paging.html" class="menu_depth">
                            Paging
                            <span class="icon"></span>
                        </a>
                    </li>
                    <li>
                        <a href="./search.html" class="menu_depth">
                            Search
                            <span class="icon"></span>
                        </a>
                    </li>
                    <li>
                        <a href="./popup.html" class="menu_depth">
                            Popup
                            <span class="icon"></span>
                        </a>
                    </li>
                    <li class="active">
                        <a href="#" class="menu_depth">
                            Layer
                            <span class="icon"></span>
                        </a>
                        <ul>
                            <li class="on"><a href="#">Layer Basic</a></li>
                            <li class="last-child"><a href="./layer_modal.html">Layer Modal</a></li>
                        </ul>
                    </li>
                </ul>

                <h2 class="js_guide">ADDONS COMPONENT</h2>
                <ul class="menu">
                    <li>
                        <a href="#" class="menu_depth">
                            Calendar
                            <span class="icon"></span>
                        </a>
                        <ul>
                            <li><a href="../addons/jquery_calendar.html">Jquery UI</a></li>
                            <li class="last-child"><a href="../addons/vanilla_calendar.html">Vanilla JS</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="menu_depth">
                            Chart
                            <span class="icon"></span>
                        </a>
                        <ul>
                            <li><a href="../addons/chart_defalut.html">Bar Chart</a></li>
                            <li><a href="../addons/chart_line.html">Line Chart</a></li>
                            <li><a href="../addons/chart_doughnut.html">Doughnut Chart</a></li>
                            <li class="last-child"><a href="../addons/chart_pie.html">Pie Chart</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="menu_depth">
                            Swiper
                            <span class="icon"></span>
                        </a>
                        <ul>
                            <li><a href="../addons/swiper_default.html">Default</a></li>
                            <li><a href="../addons/swiper_pagination.html">Pagination</a></li>
                            <li><a href="../addons/swiper_slideview.html">SlidePerView</a></li>
                            <li><a href="../addons/swiper_freemode.html">FreeMode</a></li>
                            <li><a href="../addons/swiper_loop.html">Loop</a></li>
                            <li><a href="../addons/swiper_autoplay.html">AutoPlay</a></li>
                            <li class="last-child"><a href="../addons/swiper_imagelazy.html">Image Lazy</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="../addons/aos.html" class="menu_depth">
                            Aos
                            <span class="icon"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- //[Layout] - Menu -->
        </div>
        <!-- //[Layout] - Snb -->

        <!-- [Layout] - Content -->
        <div class="content">
            <!-- [Layout] - Global Form -->
            <div class="global_form">
                <!-- [Layout] - Function -->
                <div class="function">
                    <!-- [Layout] - Quick Button Close -->
                    <div class="quick_button">
                        <button type="button" id="js_quickMenu_open">
                            <span class="line"></span>
                            열기
                        </button>
                    </div>
                    <!-- //[Layout] - Quick Button Close -->

                    <!-- [Layout] - Search -->
                    <div class="search_form">
                        <input type="text" class="input_text global_search" placeholder="Search">
                    </div>
                    <!-- //[Layout] - Search -->
                </div>
                <!-- //[Layout] - Function -->

                <!-- [Layout] - User Controll -->
                <div class="user_controll">
                    <a href="#" class="login">로그인</a>
                    <div class="user_info">
                        <button type="button">Admin</button>
                        <ul class="list">
                            <li><a href="#">회원정보관리</a></li>
                            <li><a href="#">로그아웃</a></li>
                        </ul>
                    </div>
                </div>
                <!-- //[Layout] - User Controll -->
            </div>
            <!-- //[Layout] - Global Form -->

            <!-- [Layout] - Ui Form -->
            <div class="ui_form">
                <!-- [Layout] - Location -->
                <div class="location">
                    <span class="icon"><img src="../../image/layout/icon_home.png" alt="home"></span>
                    <span class="depth">UI COMPONENT</span>
                    <span class="depth">LAYER</span>
                    <strong>LAYER BASIC</strong>
                </div>
                <!-- //[Layout] - Location -->

                <!-- [Layout] - Expand -->
                <div class="layout_rate layout_rate_10">
                    <!-- [Layout] - Col 100% -->
                    <div class="col">
                        <!-- [Common] - Category Form -->
                        <div class="category_form">
                            <!-- Category Header -->
                            <div class="ctg_header">
                                <h4>LAYER BASIC</h4>
                            </div>
                            <!-- //Category Header -->

                            <!-- Category Content -->
                            <div class="ctg_content">

                                <p class="category_title">
                                    Default Alert
                                    <span class="msg">(Alert 형태의 레이어이며 A태그에 직접 onClick 입력)</span>
                                </p>
                                <!-- [Layout] - Expand -->
                                <div class="layout_rate layout_rate_10">
                                    <!-- [Layout] - Col 100% -->
                                    <div class="col">
                                        <div class="col_content">
                                            <!-- 레이어 버튼 -->
                                            <a href="#" class="btn_type btn_blue" onclick="$.layerScratch({ defaultTarget : '#js_layer_alert_inline', opacity : 0.6, align : 'center', autoClose : true, nodeAddclass : 'scrollHidden'}); return false;">Layer Button</a>
                                            <!-- //레이어 버튼 -->
                                            <!-- [Common] - Layer Alert -->
                                            <div id="js_layer_alert_inline" class="layer_alert_content">
                                                데이터 전송중에 문제가 발생했습니다.<br>다시 시도해주세요.
                                                <p class="btn_close"><a href="#">닫기</a></p>
                                            </div>
                                            <!-- //[Common] - Layer Alert -->
                                        </div>
                                    </div>
                                    <!-- //[Layout] - Col 100% -->
                                </div>
                                <!-- //[Layout] - Expand -->

                                <!-- [UI] - Source -->
                                <div class="source">
                                    <div class="tit">Source</div>
                                    <p class="btn_close">
                                        <a href="#">
                                            닫기
                                            <span class="icon"></span>
                                        </a>
                                    </p>
                                    <pre>
<xmp><!-- 레이어 버튼 -->
<a href="#" class="btn_type btn_blue" onclick="$.layerScratch({ defaultTarget : '#js_layer_alert_inline', opacity : 0.6, align : 'center', autoClose : true, nodeAddclass : 'scrollHidden'}); return false;">Layer Button</a>
<!-- //레이어 버튼 -->
<!-- [Common] - Layer Alert -->
<div id="js_layer_alert_inline" class="layer_alert_content">
    데이터 전송중에 문제가 발생했습니다.<br>다시 시도해주세요.
    <p class="btn_close"><a href="#">닫기</a></p>
</div>
<!-- //[Common] - Layer Alert -->
</xmp>
                                    </pre>
                                </div>
                                <!-- //[UI] - Source -->

                                <p class="category_title">
                                    Default Alert
                                    <span class="msg">(Alert 형태의 레이어이며 Script에서 실행)</span>
                                </p>
                                <!-- [Layout] - Expand -->
                                <div class="layout_rate layout_rate_10">
                                    <!-- [Layout] - Col 100% -->
                                    <div class="col">
                                        <div class="col_content">
                                            <!-- 레이어 버튼 -->
                                            <a href="#" id="js_button_layer" class="btn_type btn_blue">Layer Button</a>
                                            <!-- //레이어 버튼 -->
                                            <!-- [Common] - Layer Alert -->
                                            <div id="js_layer_alert_script" class="layer_alert_content">
                                                내용을 넣어주세요<div class=""></div>
                                                <p class="btn_close"><a href="#">닫기</a></p>
                                            </div>
                                            <!-- //[Common] - Layer Alert -->
                                            <script type="text/javascript">
                                            $("#js_button_layer").on("click", function(e){
                                                // 기본링크 기능삭제
                                                e.preventDefault();

                                                // LayerScratch 레이어
                                                $.layerScratch({
                                                    defaultTarget : "#js_layer_alert_script",
                                                    opacity : 0.6,
                                                    align : "center",
                                                    autoClose : true,
                                                    nodeAddclass : "scrollHidden"
                                                });
                                            });
                                            </script>
                                        </div>
                                    </div>
                                    <!-- //[Layout] - Col 100% -->
                                </div>
                                <!-- //[Layout] - Expand -->

                                <!-- [UI] - Source -->
                                <div class="source">
                                    <div class="tit">Source</div>
                                    <p class="btn_close">
                                        <a href="#">
                                            닫기
                                            <span class="icon"></span>
                                        </a>
                                    </p>
                                    <pre>
<xmp><!-- 레이어 버튼 -->
<a href="#" id="js_button_layer" class="btn_type btn_blue">Layer Button</a>
<!-- //레이어 버튼 -->
<!-- [Common] - Layer Alert -->
<div id="js_layer_alert_script" class="layer_alert_content">
    내용을 넣어주세요<div class=""></div>
    <p class="btn_close"><a href="#">닫기</a></p>
</div>
<!-- //[Common] - Layer Alert -->
<script type="text/javascript">
$("#js_button_layer").on("click", function(e){
    // 기본링크 기능삭제
    e.preventDefault();

    // LayerScratch 레이어
    $.layerScratch({
        defaultTarget : "#js_layer_alert_script",
        opacity : 0.6,
        align : "center",
        autoClose : true,
        nodeAddclass : "scrollHidden"
    });
});
</script>
</xmp>
                                    </pre>
                                </div>
                                <!-- //[UI] - Source -->

                            </div>
                            <!-- //Category Content -->
                        </div>
                        <!-- //[Common] - Category Form -->
                    </div>
                    <!-- [Layout] - Col 100% -->
                </div>
                <!-- //[Layout] - Expand -->

            </div>
            <!-- //[Layout] - Ui Form -->
        </div>
        <!-- //[Layout] - Content -->
    </div>
    <!-- //[Layout] - Container -->

    <!-- [Layout] - Button Top -->
    <div class="btn_top">
        <a href="#">상단으로 이동</a>
    </div>
    <!-- //[Layout] - Button Top -->
</div>
<!-- //[Layout] - Wrap -->

<script type="text/javascript">
// Quick Menu
$("#js_quickMenu_close").quickMenu();

// Snb Menu
/* === option ===
- active : 1 or Number ----- 1 ~ @ 입력가능하며 최대는 메뉴의 총갯수까지 적용(그 수를 넘으면 첫번째 메뉴가 활성화됨)
*/
$("#js_menuForm").snbMenu();

// Source Toggle
sourceToggle({ active : 1 });

// 상단 이동 버튼
btnTopMove();

// Scroll 이벤트
$(window).on("scroll", function(){
    // 상단 이동 버튼
    btnTopMove();
});
</script>

</body>
</html>