<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Popup Guide</title>
    <link rel="stylesheet" href="../../css/jqueryui/jquery-ui.css">
    <link rel="stylesheet" href="../../css/swiper/swiper-bundle.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../css/ui.css">
    <script src="../../js/jquery-2.2.4.min.js"></script><!-- Jquery JS -->
    <script src="../../js/jquery-ui.js"></script><!-- Jquery Ui JS -->
    <script src="../../js/swiper-bundle.min.js"></script><!-- Swiper JS -->
    <script src="../../js/ui.js"></script><!-- Ui JS -->
</head>
<body>

<!-- [Popup] - Layout -->
<div class="popup_layout">
    <!-- [Popup] - Header -->
    <div class="popup_header">
        <h1>팝업 타이틀</h1>
    </div>
    <!-- //[Popup] - Header -->

    <!-- [Popup] - Content -->
    <div class="popup_content">
        내용
    </div>
    <!-- //[Popup] - Content -->
</div>
<!-- //[Popup] - Layout -->

</body>
</html>